

html {
    height: 100%;
}

body {
    height: 100%; /* TJY: For some reason removing this makes the map tiny*/
    margin: 0;
    padding-top: 5px;
    color: black;
    background-color: lightgray;
}

#header {
    height: 5%;
}

#title {
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
}

#ratebutton {
    margin-top:10px;
    margin-left: 20px;
}

#map {
    height: 75%;
}

#footer {
    font-size: 20px;
    height: 15%;
}

#sendtext {
    text-align: center;
    padding-bottom: 5px;
}
